# Automatically build and deploy SimpleCollector to GitHub releases by Travis CI

language: java

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

branches:
  only:
    - master

#before_script:
#  - ./gradlew assemble

script:
  - ./gradlew build

before_deploy:
   - git config --local user.name "SimpleCollector"
   - git config --local user.email "35264312+SimpleCollector@users.noreply.github.com"
   - git tag -f "latest-build"

deploy:
  provider: releases
  api_key:
    secure: "$GITHUB_API_KEY"
  file: build/libs/simplecollector-latest.jar
  skip_cleanup: true
  overwrite: true
  on:
    repo: SimpleCollector/simplecollector

after_deploy:
  # Trigger docker hub build
  - |-
    curl -s -H "Content-Type: application/json" --data '{"source_type": "Branch", "source_name": "master"}' -X POST https://registry.hub.docker.com/u/simplecollector/simplecollector-app/trigger/$DOCKERHUB_TOKEN/

notifications:
  email:
    on_failure: always
    on_success: change
